newsService:
  rootUrl: http://localhost:8081
spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: #{null}
    username: #{null}
    password: #{null}
  jpa:
    hibernate.ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  rabbitmq:
    host: #{null}
    port: #{null}
    username: #{null}
    password: #{null}
    ssl:
      enabled: #{null}
    queue:
      payments:
        toProcess:
          name: paymentsToProcessQueue
        processed:
          name: paymentsProcessedQueue
      subscriptionNotification:
        name: subscriptionNotificationQueue
    exchange:
      payments:
        name: paymentsExchange
      subscriptionNotification:
        name: subscriptionNotificationExchange
sendgrid:
  verifiedSenderIdentity: #{null}